# --- Unreal Engine (recursivo) ---
# Pastas geradas
**/Binaries/**
**/DerivedDataCache/**
**/Intermediate/**
**/Saved/**
**/Build/**

# Permitir PakBlacklist e ícones dentro de Build
!**/Build/*/
**/Build/**/*
!**/Build/*/PakBlacklist*.txt
!**/Build/**/*.ico

# Dados de mapa gerados
*_BuiltData.uasset

# Arquivos de projeto que a UE/IDE gera
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vs/
.vsconfig
*.xcodeproj
*.xcworkspace

# VS/IDE variados
*.user
*.userprefs
.idea/
.vscode/

# Libs/execs
*.dll
*.dylib
*.so
*.a
*.lib
*.exe
*.app
*.ipa
*.out

# Objetos/headers pré-compilados
*.obj
*.o
*.lo
*.slo
*.gch
*.pch

# Arte fonte que não entra no repo (opcional)
SourceArt/**/*.png
SourceArt/**/*.tga

# Plugins Bin/Intermediate
Plugins/**/Binaries/**
Plugins/**/Intermediate/**

# --- extra: não versionar PDBs (como o BuildRules.pdb) ---
*.pdb
*.ipdb
*.opendb
